#IDEs and text editor config files
.idea
.vscode

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

#secrets and keys
secrets
cert

#development scripts
runner.conf

#unused lib
client

#auto generated
go.sum
